/* CSS Document */

.dropdown-menu a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
	background-color: #D3D7F1;
			color: #c6c7c8;
}

.body {
	background-color: #000103;
	color: #c6c7c8;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

	
		}
.container {
	background-color: #303132;
		color: #c6c7c8
		}
.footer-index {
  font-size:20px;
	font-family: "Segoe UI";
	
}
.border-10{
border-style:solid;
 border-width: 10px;
}
.border-5{
border-style:solid;
 border-width: 5px;
}
a:link {
    color:#B7D5F4;
	font-weight: bold;
	}

a:visited {
  color: #061E55;
	}
a:hover {
  color: #0080E9;
}
*{
font-family: "Segoe UI";
	font-weight: 600;
	}
hr {
	height: 5px;
	background: #444655;
	border-radius: 25px;
}
.font15
{ font-size: 15px;
}
.figure-caption {
	font-size: 15px;
	color: #212529;
	
} 